
<h3>Write a review for {{ restaurant.name }}</h3>


<div class="border">

    <div *ngIf="error_msgs">
        <p class="button" *ngFor="let m of error_msgs">Error: {{m}}</p>
    
    </div>

    <form (submit) = "createReview()">
        <p class="button">Your Name:</p>
        <input class="button" type = "text" name="newReview.name" [(ngModel)]="newReview.name"/>
        <br>
        <p class = "button">Stars: 
            <select name="newReview.stars" [(ngModel)]="newReview.stars">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select></p>
        <p class="button">Review:</p>
        <textarea class="button" name="newReview.review" [(ngModel)]="newReview.review"></textarea>
        <br>
        <input class="button" type="submit" value="Submit"> 
      </form>
        <button class="button" (click)="goHome()">Cancel</button>  

</div>