<div class="container">
<h3 class="button">Write a review for {{ restaurant.name }}</h3>


<div class="border">

    <div *ngIf="error_msgs">
        <p class="button" *ngFor="let m of error_msgs">Error: {{m}}</p>
    
    </div>

    <form (submit) = "createReview()">
        <div class="form-group">
        <p class="button">Your Name:</p>
        <input class="form-control button" type = "text" name="newReview.name" [(ngModel)]="newReview.name"/>
        </div>

        <div class="form-group">
        <p class = "button">Stars: 
            <select class = "form-control" name="newReview.stars" [(ngModel)]="newReview.stars">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select></p>
            </div>
        <div class="form-group">
        <p class="button">Review:</p>
        <textarea class="form-control" name="newReview.review" [(ngModel)]="newReview.review"></textarea>
        </div>
        <input class="btn btn-primary space" type="submit" value="Submit"> 
      </form>
        <button class="btn btn-secondary space" (click)="goHome()">Cancel</button>  

</div>

</div>