.border {
    border: black 1px solid;
    padding: 20px 10px;
    margin: 10px;
}

.button {
    /* margin: 5px 15px; */
    /* display: inline-block; */
    padding: 0px 5px;
}

.container {
    font-family: monospace;
    font-size: large;
}

.space {
    margin: 5px 0px;
}